{% extends 'base.html.twig' %}

{% block title %}Mensuration Customer{% endblock %}

{% block titre %}Customer/Mensuration{% endblock %}

{% block body %}


  <div class="row">
    <div class="col-6">
      <img class="img img-thumbnail" src="{{ asset('images/mesuraration_'~ gender ~'.jpg') }}"/>
    </div>
    <div class="col-6">
        {{ form_start(mensurationForm) }}
        <div class="row">   
            <div class="col">{{form_row(mensurationForm.hauteurHeightSol)}}</div>
            <div class="col">{{form_row(mensurationForm.longueurBasLegerementPlie)}}</div>
        </div>
        <div class="row">
            <div class="col">{{form_row(mensurationForm.hauteurEncolureSol)}}</div>
            <div class="col">{{form_row(mensurationForm.height)}}</div>
        </div>
        <div class="row">
            <div class="col">{{form_row(mensurationForm.tourCou)}}</div>
            <div class="col">{{form_row(mensurationForm.carrureDevant)}}</div>
                    </div>
        <div class="row">
            <div class="col">{{form_row(mensurationForm.carrureDos)}}</div>
            <div class="col">{{form_row(mensurationForm.tourHeight)}}</div>
                    </div>
        <div class="row">
            <div class="col">{{form_row(mensurationForm.tourHanche)}}</div>
            <div class="col">{{form_row(mensurationForm.tourBassin)}}</div>
                    </div>
        <div class="row">
            <div class="col">{{form_row(mensurationForm.tourGenou)}}</div>
            <div class="col">{{form_row(mensurationForm.tourChecity)}}</div>
        </div>
        </div>
        <div class="row">
            <div class="col">{{form_row(mensurationForm.hauteurEcolureHeightDevant)}}</div>
            <div class="col">{{form_row(mensurationForm.hauteurEncolurSaillant)}}</div>
            <div class="col">{{form_row(mensurationForm.hauteurHeightGenou)}}</div>
            <div class="col">{{form_row(mensurationForm.tourBiceps)}}</div>
         </div>
        <div class="row">
            <div class="col">{{form_row(mensurationForm.tourAvantBras)}}</div>
            <div class="col">{{form_row(mensurationForm.tourPoignet)}}</div>
            <div class="col">{{form_row(mensurationForm.tourCuisse)}}</div>
            <div class="col">{{form_row(mensurationForm.tourMollet)}}</div>
        </div>
        <div class="row">
                {% if gender == "femme" %}
                    <div class="col">{{form_row(mensurationForm.hauteurEncolureHeightDos)}}</div>
                    <div class="col">{{form_row(mensurationForm.tourPoitrine)}}</div>
                    <div class="col">{{form_row(mensurationForm.encartSaillantPoitrine)}}</div>
                    <div class="col">{{form_row(mensurationForm.tourSousPoitrine)}}</div>
                {% else %}
                    <div class="col-3">{{form_row(mensurationForm.hauteurEncolureHeightDos)}}</div>    
                {% endif %}
            {{ form_end(mensurationForm) }}
        </div>
    </div>
  </div>

{% endblock %}
