{% extends 'base.html.twig' %}

{% block title %}Catégorie de Produits{% endblock %}

{% block titre %}Config/Catégorie de Produits{% endblock %}

{% block body %}

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Catégorie de Produits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('setting_fees') }}">Frais</a>
    </li>
</ul>
<div class=row>
  <div class="col">
    <a class="btn btn-primary" href="{{ path('setting_category_add') }}" role="button">Ajouter</a>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
     <thead>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Note</th>
        <th>Action<th>
      </th>
      </thead>
      <tbody>
        {% for category in categories %}
          <tr data-id="{{category.id}}">
            <td>{{category.id }}</td>
            <td>{{category.name}}</td>
            <td>{{category.note}}</td>
            <td></td>
          </tr>
        {% endfor %}
      </tbody>  
    <table>  
  </div>
</div>

{% endblock %}
