{% extends 'base.html.twig' %}

{% block title %}Type de Frais{% endblock %}

{% block titre %}Configuration/Frais{% endblock %}

{% block body %}

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{{ path('setting_categories') }}">Type de products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Type de frais</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Configuration</a>
    </li>
</ul>
<div class=row>
  <div class="col">
    <a class="btn btn-primary" href="{{ path('setting_fees_add') }}" role="button">ajout</a>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
     <thead>
      <tr>
        <th>#</th>
        <th>code</th>
        <th>name</th>
        <th>Action<th>
      </th>
      </thead>
      <tbody>
        {% for fee in fees %}
          <tr data-id="{{fee.id}}">
            <td>{{fee.id }}</td>
            <td>{{fee.code}}</td>
            <td>{{fee.name}}</td>
            <td></td>
          </tr>
        {% endfor %}
      </tbody>  
    <table>  
  </div>
</div>

{% endblock %}
