{% extends 'base.html.twig' %}

{% block title %}Type de Frais{% endblock %}

{% block titre %}Setting/Frais{% endblock %}

{% block body %}

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{{ path('setting_produits') }}">Type de produits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Type de frais</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Configuration</a>
    </li>
</ul>
<div class=row>
  <div class="col">
    <a class="btn btn-primary" href="{{ path('setting_frais_add') }}" role="button">ajout</a>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
     <thead>
      <tr>
        <th>#</th>
        <th>code</th>
        <th>nom</th>
        <th>Action<th>
      </th>
      </thead>
      <tbody>
        {% for fraisType in fraisTypes %}
          <tr data-id="{{fraisType.id}}">
            <td>{{fraisType.id }}</td>
            <td>{{fraisType.code}}</td>
            <td>{{fraisType.nom}}</td>
            <td></td>
          </tr>
        {% endfor %}
      </tbody>  
    <table>  
  </div>
</div>

{% endblock %}
