{% extends 'base.html.twig' %}

{% block title %}Type de Produits{% endblock %}

{% block titre %}Setting/Type de Produits{% endblock %}

{% block body %}

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Type de produits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('setting_frais') }}">Type de frais</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Configuration</a>
    </li>
</ul>
<div class=row>
  <div class="col">
    <a class="btn btn-primary" href="{{ path('setting_produits_add') }}" role="button">ajout</a>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
     <thead>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Commentaire</th>
        <th>Action<th>
      </th>
      </thead>
      <tbody>
        {% for type in types %}
          <tr data-id="{{type.id}}">
            <td>{{type.id }}</td>
            <td>{{type.nom}}</td>
            <td>{{type.commentaire}}</td>
            <td></td>
          </tr>
        {% endfor %}
      </tbody>  
    <table>  
  </div>
</div>

{% endblock %}
