{% extends 'base.html.twig' %}

{% block title %}Evenements{% endblock %}

{% block titre %}Evenements{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <a class="btn btn-primary" href="{{ path('event_add') }}" role="button">ajout</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Event</th>
                    <th>Lieu</th>
                    <th>Date</th>
                    <th>Sales</th>
                    <th>Frais</th>
                    <th>Chiffres</th>
                </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td><a href="{{ path('event_view',{id:event.id}) }}">{{event.id}}</a></td>
                    <td>{{event.nom}}</td>
                    <td>{{event.lieu}}</td>
                    <td>{{event.date|date("d/m/Y")}}</td>
                    <td>Sales</td>
                    <td>
                        {% set fraisValeur = "0" %}
                        {% for frais in event.frais %}
                           {% set fraisValeur = fraisValeur+ frais.prix %} 
                        {% endfor %}
                        {{fraisValeur}} €
                    </td>
                    <td>Chiffres</td>
                </tr>    
            {% endfor %}
        </table>    

    </div>
</div>
{% endblock %}
