<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('events') }}">Events</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('invoices') }}">Factures</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="{{ path('orders') }}">Commandes</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('customers') }}">Clients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('products') }}">Produits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('setting_categories') }}">Configuration</a>
    </li>
  </ul>