<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('invoices') }}">Invoices</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('customers') }}">Customers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('products') }}">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('events') }}">Evens</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('settings') }}">Settings</a>
    </li>
  </ul>