{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block titre %}Event/Leu{% endblock %}

{% block body %}

<div class="row">
    <div class="col">
        {{event.startDate|date("d/m/Y") }} - {{event.name|upper}} - {{event.location|upper}}
    </div>
</div>

<div class="row">
    <div class="col">
    Facture - <a class="nav-link" href="{{ path('event_invoices_add', { 'eventId': event.id}) }}">Ajouter</a>
        {% for invoice in invoices %}
            <pre>
                {{ dump(invoice) }}
            </pre>
        {% endfor %}
    </div>
</div>    

<div class="row">
    <div class="col">
    Frais - <a class="nav-link" href="{{ path('settings') }}">Ajouter</a>
    <table class="table">
        <thead>
            <td>type</td>
            <td>Montant</td>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% for fee in fees %}
            <tr>
                <td>{{fee.type.name}}</td>
                <td>{{fee.price}}
                    {% set total = total + fee.price %}
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td>Total</td>
                <td>{{ total }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>    
{% endblock %}
