{% extends 'base.html.twig' %}

{% block title %}Nouvel Events{% endblock %}

{% block titre %}Event/Nouveau{% endblock %}

{% block body %}

{{ form_start(eventForm) }}


    <div class="row">
        <div class="col">
            {{form_row(eventForm.name)}}
        </div>
        <div class="col">
            {{form_row(eventForm.startDate)}}
        </div>        
        <div class="col">
            {{form_row(eventForm.endDate)}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{form_row(eventForm.location)}}
        </div>
    </div>

        <ul id="frais-fields-list"
            data-prototype="{{ form_widget(eventForm.fees.vars.prototype)|e }}"
            data-widget-tags="{{ '<li></li>'|e }}"
            data-widget-counter="{{ eventForm.fees|length }}">
        {% for feesField in eventForm.fees %}
            <li>
                {{ form_errors(feesField) }}
                {{ form_widget(feesField) }}
            </li>
        {% endfor %}
        </ul>

        <button type="button"
            class="add-collection-widget"
            data-list-selector="#frais-fields-list">ajout frais</button>

{{ form_end(eventForm) }}
<script src="{{asset('js/fraisCollection.js')}}"></script>
{% endblock %}
