{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block titre %}Event/Leu{% endblock %}

{% block body %}

<div class="row">
    <div class="col">
        {{event.startDate|date("d/m/Y") }} - {{event.name|upper}} - {{event.location|upper}}
    </div>
</div>

<div class="row">
    <div class="col">
    Facture - <a class="nav-link" href="{{ path('event_invoices_add', { 'eventId': event.id}) }}">Ajouter</a>
        <div id="presidents_invoice">Loading...</div>
        <script>
        $(function() {
            $('#presidents_invoice').initDataTables({{ datatable_settings(tableInvoices) }}, {
                searching: true,
                //dom:'<"html5buttons"B>lTfgitp',
            });
        });

        </script>   
    </div>
</div>    

<div class="row">
    <div class="col">
    Frais - <a class="nav-link" href="{{ path('event_add_fees',{'eventId': event.id}) }}">Ajouter</a>
        <div id="presidents_fees">Loading...</div>
    <script>
    $(function() {
        $('#presidents_fees').initDataTables({{ datatable_settings(tableFees) }}, {
            searching: true,
            //dom:'<"html5buttons"B>lTfgitp',
        });
    });
    </script>   
    </div>
</div>
<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>    
{% endblock %}
